body {
   background-color: coral;
}
<!--background: grey;-->

p {
  color:teal;
  font-size: 12px;
  text-shadow: -10px 10px black;
}

h1 {
    color: purple;
    font-size: 50px;
    font-family: fantasy;
    text-shadow: 5px 5px black;
}

h2 {
    color: black; <!--orange;-->
    font-size: 40px;
}

<!--
p {
    color: teal;
    rebeccapurple
   
}
-->
